<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Gestion des Tickets d'Incendie</title>-->

<!--    &lt;!&ndash; Include Bootstrap CSS from CDN &ndash;&gt;-->
<!--    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">-->

<!--    <style>-->

<!--        .ellipsis {-->

<!--            overflow: hidden;-->
<!--            text-overflow: ellipsis;-->
<!--            white-space: nowrap;-->
<!--            display: block ;-->
<!--        }-->

<!--        .grid-container {-->
<!--            display: grid;-->
<!--            grid-template-columns: 1fr 1fr; /* This defines two equal columns */-->
<!--            gap: 10px; /* Adjust the gap between columns */-->
<!--        }-->

<!--        .grid-item {-->
<!--            padding: 10px;-->
<!--            border: 0px solid #ccc;-->
<!--        }-->
<!--        /* CSS Styles */-->
<!--        .table {-->
<!--            font-size: 14px;-->
<!--        }-->

<!--        body {-->
<!--            background-color: #f8f9fa;-->
<!--        }-->

<!--        h1, h2 {-->
<!--            color: #343a40;-->
<!--        }-->

<!--        .btn-primary {-->
<!--            background-color: #007bff;-->
<!--        }-->

<!--        /* Add more CSS styles here */-->

<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container mt-5">-->
<!--    <h1 class="display-4 mb-4"><b>Gestion des Tickets d'Incendie</b></h1>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6">-->
<!--            &lt;!&ndash; Ticket creation form &ndash;&gt;-->
<!--            <div class="card">-->
<!--                <div class="card-body">-->
<!--                    <h2 class="card-title">Créer un Ticket</h2>-->
<!--                    <form id="ticketForm" enctype="multipart/form-data">-->
<!--                        <div class="form-group">-->
<!--                            <label for="titre">Titre du Ticket</label>-->
<!--                            <input type="text" class="form-control" id="titre" required>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label for="description">Description</label>-->
<!--                            <textarea class="form-control" id="description" rows="4" required></textarea>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label for="priorite">Priorité</label>-->
<!--                            <select class="form-control" id="priorite">-->
<!--                                <option value="Basse">Basse</option>-->
<!--                                <option value="Moyenne">Moyenne</option>-->
<!--                                <option value="Haute">Haute</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                        <div class="custom-file mb-3">-->
<!--                            <input type="file" class="custom-file-input" id="attachment" enctype="multipart/form-data">-->
<!--                            <label class="custom-file-label" for="attachment">Choisissez un fichier</label>-->
<!--                        </div>-->
<!--                        <button type="submit" class="btn btn-primary">Créer un Ticket</button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            &lt;!&ndash; Ticket list &ndash;&gt;-->
<!--            <div class="card" style="width: 720px">-->
<!--                <div class="card-body">-->
<!--                    <h2 class="card-title">Liste des Tickets</h2>-->
<!--                    <table class="table table-striped">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th>Nom</th> &lt;!&ndash; Updated column label &ndash;&gt;-->
<!--                            <th>Description</th>-->
<!--                            <th>Statut</th> &lt;!&ndash; Updated column label &ndash;&gt;-->
<!--                            <th>Technicien Assigné</th> &lt;!&ndash; Updated column label &ndash;&gt;-->
<!--                            <th>Actions</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody id="ticketList">-->
<!--                        &lt;!&ndash; Tickets will be displayed here using JavaScript &ndash;&gt;-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--&lt;!&ndash; Include Bootstrap JS and jQuery from CDN &ndash;&gt;-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->

<!--&lt;!&ndash; JavaScript &ndash;&gt;-->
<!--<script>-->
<!--    // Variables globales pour stocker les tickets-->
<!--    let tickets = [];-->

<!--    // Sélectionnez des éléments HTML-->
<!--    const ticketForm = document.getElementById('ticketForm');-->
<!--    const ticketList = document.getElementById('ticketList');-->

<!--    // Load tickets from the API when the page loads-->
<!--    document.addEventListener('DOMContentLoaded', () => {-->
<!--        const authToken = sessionStorage.getItem('authToken');-->
<!--        fetch('http://localhost:9090/api/ticket/tickets', {-->
<!--            method: 'GET',-->
<!--            headers: {-->
<!--                'Authorization': `Bearer ${authToken}`,-->
<!--                'Content-Type': 'application/json'-->
<!--            }-->
<!--        })-->
<!--            .then(response => response.json())-->
<!--            .then(data => {-->
<!--                tickets = data; // Store the fetched data in the tickets array-->
<!--                displayTickets(); // Display the tickets in the table-->
<!--            })-->
<!--            .catch(error => console.error('Error fetching tickets:', error));-->
<!--    });-->

<!--    &lt;!&ndash; Inside the 'ticketForm' event listener &ndash;&gt;-->
<!--    ticketForm.addEventListener('submit', function (e) {-->
<!--        e.preventDefault();-->

<!--        // Récupérez les valeurs du formulaire-->
<!--        const name = document.getElementById('titre').value;-->
<!--        const description = document.getElementById('description').value;-->

<!--        // Récupérez le fichier attaché-->
<!--        const attachmentInput = document.getElementById('attachment');-->
<!--        const attachmentFile = attachmentInput.files[0]; // Get the first selected file-->

<!--        // Créez un objet de ticket-->
<!--        const ticketDTO = {-->
<!--            name: name,-->
<!--            description: description,-->
<!--        };-->

<!--        const authToken = sessionStorage.getItem('authToken');-->

<!--        // Create a new FormData object-->
<!--        const formData = new FormData();-->

<!--        // Append the file to the FormData-->
<!--        formData.append('file', attachmentFile);-->

<!--        // Create a Blob containing the JSON data-->
<!--        const jsonBlob = new Blob([JSON.stringify(ticketDTO)], { type: 'application/json' });-->

<!--        // Append the ticketDTO JSON data as a text part-->
<!--        formData.append('ticketDTO', jsonBlob, 'ticketDTO.json');-->

<!--        console.log(formData.get('file')); // Check the file part-->
<!--        console.log(JSON.stringify(ticketDTO)); // Check the ticketDTO part-->

<!--        // Send the request with the constructed body-->
<!--        fetch('http://localhost:9090/api/ticket/create', {-->
<!--            method: 'POST',-->
<!--            headers: {-->
<!--                'Authorization': `Bearer ${authToken}`,-->
<!--            },-->
<!--            body: formData,-->
<!--        })-->
<!--            // Rest of the code remains the same-->

<!--            .then(response => response.json())-->
<!--            .then(data => {-->
<!--                // Handle the response, you may want to update the UI or handle errors here-->
<!--                //console.log(formData);-->
<!--                console.log('Ticket created successfully:', data);-->

<!--                // Simulate adding the new ticket to the local array (replace with actual API call)-->
<!--                tickets.push(data);-->

<!--                // Réinitialisez le formulaire-->
<!--                ticketForm.reset();-->

<!--                // Réinitialisez le champ de fichier personnalisé-->
<!--                const attachmentLabel = document.querySelector('.custom-file-label');-->
<!--                attachmentLabel.innerText = 'Choisissez un fichier';-->

<!--                // Affichez les tickets mis à jour-->
<!--                displayTickets();-->
<!--            })-->
<!--            .catch(error => console.error('Error creating ticket:', error));-->
<!--    });-->

<!--    // Fonction pour afficher les tickets-->
<!--    function displayTickets() {-->
<!--        ticketList.innerHTML = '';-->

<!--        tickets.forEach(function (ticket) {-->
<!--            const row = `-->
<!--        <tr style="max-width: 400px">-->
<!--            <td>${ticket.name}</td>-->
<!--            <td style="max-width: 120px" title="${ticket.description}"> <div class="ellipsis">${ticket.description}</div> </td>-->
<!--            <td>${ticket.status}</td>-->
<!--            <td>${ticket.assignedTech ? ticket.assignedTech.fullName : '-'}</td>-->
<!--            <td class="grid-container">-->
<!--                <button class="btn btn-primary btn-sm grid-item" onclick="editTicket('${ticket.id}')">Modifier</button>-->
<!--                <button class="btn btn-danger btn-sm grid-item" onclick="deleteTicket(${ticket.id}, '${ticket.name}')">Supprimer</button>-->
<!--            </td>-->
<!--        </tr>-->
<!--    `;-->

<!--            ticketList.innerHTML += row;-->
<!--        });-->
<!--    }-->

<!--    // Fonction pour supprimer un ticket-->
<!--    // Fonction pour supprimer un ticket-->
<!--    function deleteTicket(id, name) {-->
<!--        const authToken = sessionStorage.getItem('authToken');-->

<!--        // Send a DELETE request to the API to delete the ticket by ID-->
<!--        fetch(`http://localhost:9090/api/ticket/delete/${id}`, {-->
<!--            method: 'DELETE',-->
<!--            headers: {-->
<!--                'Authorization': `Bearer ${authToken}`,-->
<!--            }-->
<!--        })-->
<!--            .then(response => {-->
<!--                if (response.ok) {-->
<!--                    // If the delete request was successful, remove the ticket from the local list-->
<!--                    tickets = tickets.filter(ticket => ticket.id !== id);-->
<!--                    displayTickets();-->
<!--                } else {-->
<!--                    console.error('Error deleting ticket:', response.status);-->
<!--                }-->
<!--            })-->
<!--            .catch(error => console.error('Error deleting ticket:', error));-->
<!--    }-->


<!--    // Fonction pour afficher un formulaire de modification-->
<!--    function editTicket(ticketId) {-->
<!--        // Assuming ticketId is passed as a parameter to this function-->
<!--        // You can construct the URL with the ticketId and navigate to it-->
<!--        window.location.href = `/ticket-details?ticketId=${ticketId}`;-->
<!--    }-->

<!--    // Appelez la fonction pour afficher les tickets-->
<!--    displayTickets();-->
<!--</script>-->
<!--</body>-->
<!--</html>-->

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Gestion des Tickets d'Incendie</title>-->

<!--    &lt;!&ndash; Include Bootstrap CSS from CDN &ndash;&gt;-->
<!--    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">-->

<!--    <style>-->

<!--        .ellipsis {-->

<!--            overflow: hidden;-->
<!--            text-overflow: ellipsis;-->
<!--            white-space: nowrap;-->
<!--            display: block ;-->
<!--        }-->

<!--        .grid-container {-->
<!--            display: grid;-->
<!--            grid-template-columns: 1fr 1fr; /* This defines two equal columns */-->
<!--            gap: 10px; /* Adjust the gap between columns */-->
<!--        }-->

<!--        .grid-item {-->
<!--            padding: 10px;-->
<!--            border: 0px solid #ccc;-->
<!--        }-->
<!--        /* CSS Styles */-->
<!--        .table {-->
<!--            font-size: 14px;-->
<!--        }-->

<!--        body {-->
<!--            background-color: #f8f9fa;-->
<!--        }-->

<!--        h1, h2 {-->
<!--            color: #343a40;-->
<!--        }-->

<!--        .btn-primary {-->
<!--            background-color: #007bff;-->
<!--        }-->
<!--        .sidebar {-->
<!--            height: 100%;-->
<!--            width: 250px;-->
<!--            position: fixed;-->
<!--            top: 0;-->
<!--            left: 0;-->
<!--            background-color: #333;-->
<!--            padding-top: 20px;-->
<!--        }-->

<!--        .sidebar a {-->
<!--            padding: 10px 15px;-->
<!--            text-decoration: none;-->
<!--            font-size: 18px;-->
<!--            color: white;-->
<!--            display: block;-->
<!--        }-->

<!--        .sidebar a:hover {-->
<!--            background-color: #555;-->
<!--        }-->

<!--        /* Main content styles */-->
<!--        .content {-->
<!--            margin-left: 250px;-->
<!--            padding: 20px;-->
<!--        }-->

<!--        /* Add more CSS styles here */-->

<!--    </style>-->

<!--</head>-->
<!--<body>-->

<!--</nav>-->

<!--&lt;!&ndash; Main content &ndash;&gt;-->
<!--<div class="content">-->
<!--    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-left: -244px;">-->
<!--        <a class="navbar-brand" href="#"><h1 class="mb-4"></h1></a>-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarNav">-->
<!--            <ul class="navbar-nav ml-auto">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" type="button" data-toggle="modal" data-target="#myModal">-->
<!--                        Profile-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" type="button" id="group">-->
<!--                        Groups-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" type="button" id="ticket">-->
<!--                        Tickets-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#" id="disconnect">Déconnexion</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->
<!--</div>-->

<!--<div class="container mt-5">-->
<!--    <h1 class="display-4 mb-4"><b>Gestion des Tickets d'Incendie</b></h1>-->
<!--    <div class="row" style="margin-top: -60px;">-->
<!--        <div class="col-md-6">-->
<!--            &lt;!&ndash; Ticket creation form &ndash;&gt;-->
<!--            <div class="card">-->
<!--                <div class="card-body">-->
<!--                    <h2 class="card-title">Créer un Ticket</h2>-->
<!--                    <form id="ticketForm" enctype="multipart/form-data">-->
<!--                        <div class="form-group">-->
<!--                            <label for="titre">Titre du Ticket</label>-->
<!--                            <input type="text" class="form-control" id="titre" required>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label for="description">Description</label>-->
<!--                            <textarea class="form-control" id="description" rows="4" required></textarea>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label for="priorite">Priorité</label>-->
<!--                            <select class="form-control" id="priorite">-->
<!--                                <option value="Basse">Basse</option>-->
<!--                                <option value="Moyenne">Moyenne</option>-->
<!--                                <option value="Haute">Haute</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                        <div class="custom-file mb-3">-->
<!--                            <input type="file" class="custom-file-input" id="attachment" enctype="multipart/form-data">-->
<!--                            <label class="custom-file-label" for="attachment">Choisissez un fichier</label>-->
<!--                        </div>-->
<!--                        <button type="submit" class="btn btn-primary">Créer un Ticket</button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            &lt;!&ndash; Ticket list &ndash;&gt;-->
<!--            <div class="card" style="width: 720px">-->
<!--                <div class="card-body">-->
<!--                    <h2 class="card-title">Liste des Tickets</h2>-->
<!--                    <table class="table table-striped">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th>Nom</th> &lt;!&ndash; Updated column label &ndash;&gt;-->
<!--                            <th>Description</th>-->
<!--                            <th>Statut</th> &lt;!&ndash; Updated column label &ndash;&gt;-->
<!--                            <th>Technicien Assigné</th> &lt;!&ndash; Updated column label &ndash;&gt;-->
<!--                            <th>Actions</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody id="ticketList">-->
<!--                        &lt;!&ndash; Tickets will be displayed here using JavaScript &ndash;&gt;-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--&lt;!&ndash; Include Bootstrap JS and jQuery from CDN &ndash;&gt;-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Tickets d'Incendie</title>

    <!-- Include Bootstrap CSS from CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

        <style>

            .ellipsis {

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block ;
            }

            .grid-container {
                display: grid;
                grid-template-columns: 1fr 1fr; /* This defines two equal columns */
                gap: 10px; /* Adjust the gap between columns */
            }

            .grid-item {
                padding: 10px;
                border: 0px solid #ccc;
            }
            /* CSS Styles */
            .table {
                font-size: 14px;
            }

            body {
                background-color: #f8f9fa;
            }

            h1, h2 {
                color: #343a40;
            }

            .btn-primary {
                background-color: #007bff;
            }
            .sidebar {
                height: 100%;
                width: 250px;
                position: fixed;
                top: 0;
                left: 0;
                background-color: #333;
                padding-top: 20px;
            }

            .sidebar a {
                padding: 10px 15px;
                text-decoration: none;
                font-size: 18px;
                color: white;
                display: block;
            }

            .sidebar a:hover {
                background-color: #555;
            }

            /* Main content styles */
            .content {
                margin-left: 250px;
                padding: 20px;
            }

            /* Add more CSS styles here */

        </style>
</head>
<body>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="fullName"><strong>Full Name:</strong></label>
                    <span id="fullName" class="form-control-static"></span>
                </div>
                <div class="form-group">
                    <label for="email"><strong>Email:</strong></label>
                    <span id="email" class="form-control-static"></span>
                </div>
                <div class="form-group">
                    <label for="phoneNumber"><strong>Phone Number:</strong></label>
                    <span id="phoneNumber" class="form-control-static"></span>
                </div>
            </div>

            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Navbar Bootstrap -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><b>Gestion des Tickets d'Incendie</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="disconnect">Déconnexion</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6" style="margin-left: -75px;">
            <!-- Ticket creation form -->
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Créer un Ticket</h2>
                    <form id="ticketForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="titre">Titre du Ticket</label>
                            <input type="text" class="form-control" id="titre" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" rows="4" required></textarea>
                        </div>
<!--                        <div class="form-group">-->
<!--                            <label for="priorite">Priorité</label>-->
<!--                            <select class="form-control" id="priorite">-->
<!--                                <option value="Basse">Basse</option>-->
<!--                                <option value="Moyenne">Moyenne</option>-->
<!--                                <option value="Haute">Haute</option>-->
<!--                            </select>-->
<!--                        </div>-->
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="attachment" enctype="multipart/form-data" required>
                            <label class="custom-file-label" for="attachment">Choisissez un fichier</label>
                        </div>
                        <button type="submit" class="btn btn-info">Créer un Ticket</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Ticket list -->
            <div class="card " style="width: 720px">
                <div class="card-body">
                    <h2 class="card-title">Liste des Tickets</h2>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Statut</th>
                            <th>Technicien Assigné</th>
                            <th style="text-align: center;">Actions</th>
                        </tr>
                        </thead>
                        <tbody id="ticketList">
                        <!-- Tickets will be displayed here using JavaScript -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include Bootstrap JS and jQuery from CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- JavaScript -->
<script>
    const authToken = sessionStorage.getItem('authToken');


    const payload = decodeJwt(authToken);


    const token = sessionStorage.getItem('authToken');
    //const decoded = jwt_decode(token);
    // Extract user information from the JSON response
    //const jsonResponse = JSON.parse(localStorage.getItem('authResponse')); // Assuming you stored the response in localStorage
    //const username = payload.username;
    const fullName = payload.fullName;
    const email = payload.email;
    const phoneNumber = payload.phoneNumber;

    // Display the user information
    //document.getElementById('username').textContent = username;
    document.getElementById('fullName').textContent = fullName;
    document.getElementById('email').textContent = email;
    document.getElementById('phoneNumber').textContent = phoneNumber;
    // Variables globales pour stocker les tickets
    let tickets = [];

    // Sélectionnez des éléments HTML
    const ticketForm = document.getElementById('ticketForm');
    const ticketList = document.getElementById('ticketList');

    // Load tickets from the API when the page loads
    document.addEventListener('DOMContentLoaded', () => {
        const authToken = sessionStorage.getItem('authToken');
        fetch('http://localhost:9090/api/ticket/tickets', {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${authToken}`,
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                tickets = data; // Store the fetched data in the tickets array
                displayTickets(); // Display the tickets in the table
            })
            .catch(error => console.error('Error fetching tickets:', error));
    });

    <!-- Inside the 'ticketForm' event listener -->
    ticketForm.addEventListener('submit', function (e) {
        e.preventDefault();

        // Récupérez les valeurs du formulaire
        const name = document.getElementById('titre').value;
        const description = document.getElementById('description').value;

        // Récupérez le fichier attaché
        const form = document.getElementById('ticketForm');
        const attachmentInput = document.getElementById('attachment');
        const attachmentFile = attachmentInput.files[0]; // Get the first selected file

        // Add a submit event listener to your form
        form.addEventListener('submit', function (event) {
            if (!attachmentFile) {
                // No file selected, display an alert and prevent form submission
                alert("Please select an attachment file.");
                event.preventDefault(); // Prevent the form from being submitted
            }
        });

        // Créez un objet de ticket
        const ticketDTO = {
            name: name,
            description: description,
        };

        const authToken = sessionStorage.getItem('authToken');

        // Create a new FormData object
        const formData = new FormData();

        // Append the file to the FormData
        formData.append('file', attachmentFile);

        // Create a Blob containing the JSON data
        const jsonBlob = new Blob([JSON.stringify(ticketDTO)], { type: 'application/json' });

        // Append the ticketDTO JSON data as a text part
        formData.append('ticketDTO', jsonBlob, 'ticketDTO.json');

        console.log(formData.get('file')); // Check the file part
        console.log(JSON.stringify(ticketDTO)); // Check the ticketDTO part

        // Send the request with the constructed body
        fetch('http://localhost:9090/api/ticket/create', {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${authToken}`,
            },
            body: formData,
        })
            // Rest of the code remains the same

            .then(response => response.json())
            .then(data => {
                // Handle the response, you may want to update the UI or handle errors here
                //console.log(formData);
                console.log('Ticket created successfully:', data);

                // Simulate adding the new ticket to the local array (replace with actual API call)
                tickets.push(data);

                // Réinitialisez le formulaire
                ticketForm.reset();

                // Réinitialisez le champ de fichier personnalisé
                const attachmentLabel = document.querySelector('.custom-file-label');
                attachmentLabel.innerText = 'Choisissez un fichier';

                // Affichez les tickets mis à jour
                displayTickets();
            })
            .catch(error => console.error('Error creating ticket:', error));
    });

    // Fonction pour afficher les tickets
    function displayTickets() {
        ticketList.innerHTML = '';

        tickets.forEach(function (ticket) {
            const row = `
        <tr style="max-width: 400px">
            <td>${ticket.name}</td>
            <td style="max-width: 120px" title="${ticket.description}"> <div class="ellipsis">${ticket.description}</div> </td>
            <td>${ticket.status}</td>
            <td>${ticket.assignedTech ? ticket.assignedTech.fullName : '-'}</td>
            <td class="grid-container">
                <button class="btn btn-info btn-sm grid-item" onclick="editTicket('${ticket.id}')">Modifier</button>
                <button class="btn btn-secondary btn-sm grid-item" onclick="deleteTicket(${ticket.id}, '${ticket.name}')">Supprimer</button>
            </td>
        </tr>
    `;

            ticketList.innerHTML += row;
        });
    }

    // Fonction pour supprimer un ticket
    // Fonction pour supprimer un ticket
    function deleteTicket(id, name) {
        const authToken = sessionStorage.getItem('authToken');

        // Send a DELETE request to the API to delete the ticket by ID
        fetch(`http://localhost:9090/api/ticket/delete/${id}`, {
            method: 'DELETE',
            headers: {
                'Authorization': `Bearer ${authToken}`,
            }
        })
            .then(response => {
                if (response.ok) {
                    // If the delete request was successful, remove the ticket from the local list
                    tickets = tickets.filter(ticket => ticket.id !== id);
                    displayTickets();
                } else {
                    console.error('Error deleting ticket:', response.status);
                }
            })
            .catch(error => console.error('Error deleting ticket:', error));
    }


    // Fonction pour afficher un formulaire de modification
    function editTicket(ticketId) {
        // Assuming ticketId is passed as a parameter to this function
        // You can construct the URL with the ticketId and navigate to it
        window.location.href = `/ticket-details?ticketId=${ticketId}`;
    }

    // Appelez la fonction pour afficher les tickets
    displayTickets();

    const disconnectButton = document.getElementById('disconnect');
    disconnectButton.addEventListener('click', function () {
        // Redirect to the "group" page when the button is clicked
        window.location.href = 'login'; // Replace with the correct URL
        localStorage.clear();
        sessionStorage.clear();
    });

    function decodeJwt(token) {
        const base64Payload = token.split(".")[1];
        const decodedPayload = atob(base64Payload);
        return JSON.parse(decodedPayload);
    }
</script>
</body>
</html>
